<meta charset="utf-8">

<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Carmen Sánchez y Lourdes Muñoz.
</p>
<p>
<a href="https://github.com/carlour31/quiz"> https://github.com/carlour31/quiz</a>
</p>

<img  src="/images/im1.jpg" height="402" width="502"/>

