<meta charset="utf-8">

<h1> 
Página de ayuda
</h1>

<p>
Un quiz es un conjunto de preguntas relacionadas con temas generales.
Para responder debe introducir la respuesta en una caja de texto.
El objetivo es diseñar una red social para crear adivinanzas y que permita a múltiples usuarios compartir sus propias preguntas.
</p>
